<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

   <test thread-count="5" name="Test2">
    <classes>
      <class name="Democart.Login"/>
      
    </classes>
  </test> <!-- Test -->
  
  
  
   <test thread-count="5" name="Test3">
    <classes>
      
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test1">
    <classes>
      <class name="Democart.VerifyHomePageDisplayed"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test4">
    <classes>
      <class name="Democart.Searchproduct"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test5">
    <classes>
      <class name="Democart.Viewproduct"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test6">
    <classes>
      <class name="Democart.Add"/>
    </classes>
  </test> <!-- Test -->
  
  
  

  
</suite> <!-- Suite -->
